.card {
    width: 21.25em;
    height: 21.25em;
    border-radius: 5px;
    background-size: cover;
    display: flex;
    align-items: end; 
    box-shadow: inset -4px -70px 45px -7px rgba(0, 0, 0, 0.7);

    @media (max-width :1024px){
        width: 100%;
    }
}

.card-title{
    margin: 20px;
    color: white;
    font-size: 18px;
}
