.collapse {
    margin: 20px auto;
    width: 80%;
    @media (max-width: 1024px) {
        width: 100%;
    }
}

.collapse-bandeau {
    height: 52px;
    background-color: #FF6060;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    color: white;
    font-size: 24px;
}

.vector {
    width: 24px;
    height: 14px;
    cursor: pointer;
    transform: rotate(0deg);
    transition: transform 0.5s; /* Animation de rotation */
}

.vector.rotate180 {
    transform: rotate(-180deg);
}

.collapse-content {
    max-height: 0;
    overflow: hidden;
    padding: 0;
    background-color: #f6f6f6;
    color: #FF6060;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    transition: max-height 0.5s;  /* Animation de déroulement/enroulement */
    transform-origin: top;
}

.collapse-content.open {
    max-height: 200px;
}
