footer{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;

    img{
        width: 122px;
    }

    h3{
        color: white;
    }
}