.navigation {
    ul{
        display: flex;
        gap: 20px;
        list-style-type: none;
        font-weight: 500;
        font-size: 24px;

        @media (max-width:1024px) {
            font-size: 12px;
            text-transform: uppercase;
        }
    };

    a{
        text-decoration: none;
    }

    a.active{
        color: $color-1;
    }

    .nav-link-active{
        color: $color-1;
    }

    li{
        color: $color-1

    }
};