.properties {
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    gap: 6em;
    justify-content: space-around;
    border-radius: 25px;
    background-color: #f6f6f6;
    padding:  5em 3.5em;
    margin-bottom: 3em;

    @media (max-width :1024px){
        padding: 0;
        background-color: rgb(255, 255, 255);
        gap:20px;
        flex-direction: column;
    }
}

.property-link{
    text-decoration: none;
}